<?xml version="1.0"?>
<!--
/**
 * Ffuenf_UpdateScripts extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_UpdateScripts>
            <version>1.0.1</version>
        </Ffuenf_UpdateScripts>
    </modules>
    <global>
        <resources>
            <ffuenf_updatescripts_setup>
                <setup>
                    <module>Ffuenf_UpdateScripts</module>
                </setup>
            </ffuenf_updatescripts_setup>
        </resources>
        <helpers>
            <ffuenf_updatescripts>
                <class>Ffuenf_UpdateScripts_Helper</class>
            </ffuenf_updatescripts>
        </helpers>
        <blocks>
            <ffuenf_updatescripts>
                <class>Ffuenf_UpdateScripts_Block</class>
            </ffuenf_updatescripts>
        </blocks>
    </global>
    <default>
        <ffuenf_updatescipts>
            <general>
                <enabled>1</enabled>
            </general>
        </ffuenf_updatescipts>
    </default>
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_UpdateScripts/>
            </modules>
        </suite>
    </phpunit>
</config>