<?xml version="1.0"?>
<!--
/**
 * Ffuenf_UpdateScripts extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <sections>
        <ffuenf_updatescripts translate="label" module="ffuenf_updatescripts">
            <tab>ffuenf</tab>
            <label>UpdateScripts</label>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <teaser translate="label" module="ffuenf_updatescripts">
                    <frontend_model>Ffuenf_UpdateScripts_Block_Adminhtml_System_Config_Fieldset_Teaser</frontend_model>
                    <sort_order>0</sort_order>
                    <expanded>1</expanded>
                </teaser>
                <general translate="label" module="ffuenf_updatescripts">
                    <label>General Configuration</label>
                    <sort_order>1000</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </enabled>
                    </fields>
                </general>
            </groups>
        </ffuenf_updatescripts>
    </sections>
</config>